.normalfont{ 
      font-family: "Azeret Mono", monospace;
      font-optical-sizing: auto;
      font-style: normal;
    } 
     .banner{
    text-align: center;
    } 
main{
    max-width: 1124px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
    width: auto;
} 
.bg1{
    padding: 10px 221px 20px 221px;
    background-image: url(../assets/Hero-bg.png);
    height: 600px;
    width: auto;
}
.b-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200x;
  width: 200px;
  margin-bottom: 32px;
  margin-top: 20px;
}
.b-heading{
    font-size: 36px;
    font-weight: 800; 
    color: #0D1321;
}
.b-description{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    margin-top: 24px;
}
.b-btn{
    font-size: 20px;
    font-weight: 600;
    background-color:#0D1321 ;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 21px 24px 21px 24px;
   margin-top: 32px;
}
.heading{
    margin-bottom: 34px;
}
.main-section{
    text-align: center;
}
.sec-heading{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.sec-description{
    font-size: 16px;
    font-weight: 400;
}
.displaysec{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
.subsection1{
    text-align: left;
}
.subsec-heading1{
    font-size: 24px;
    font-weight: 700;

}
.subsec-details{
    font-size: 16px;
    font-weight: 400; 
    margin-bottom: 20px;
}
.subsec-btn{
    padding: 5px 10px 5px 10px;
}
.subsec-img2{
    padding: 0px 5px 10px 0px;
}
.subsec-img3{
    padding: 10px 5px 10px 5px;
}
